*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/*Configurção do Header*/
header{
    width: 100vw;
    border: 1px solid black;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: red;
    
}
.noticias{
    color:white;
}
nav{
    width: 300px;
    height: 50px;
}
nav ul{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: row;
}
nav ul li {
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    cursor: pointer;
    color: black;
    background-color: white;
    border-radius:10px;
}
nav ul li a:hover{
    text-decoration: none;
    background-color: brown;
    font-size: large;
    cursor:pointer;
    border-radius: 10px;
}
/*Fim do header*/
#section1{
    background-color: blue;
}
#section2{
    background-color: brown;
}
#titulo{
    color:white;
}